
.menu {
    width: 100%;
    margin: -1px 0 0;
}

.main_menu {
    margin: 21px 0 0;
}

.menu-container {
    margin: 0 auto;
    background: #e9e9e9;
}

.menu a.logo {
    display: inline-block;
    padding: 1.5em 3em;
    width: 19%;
    float: none;
}

.menu img {
    max-width: 100%;
}


.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile::after {
    content: "\f0c9";
    font-family: "fontawesome";
    position: relative;
    left: -2px;
    top: 2px;
}

.menu-dropdown-icon::before {
    content: "\f078";
    font-family: "fontawesome";
    display: none;
    cursor: pointer;
    float: right;
    padding: 16px 15px 16px;
    background: transparent;
    color: #333;
    border-left: solid #ddd 2px;
    font-size: 11px;
}
